@font-face {
    font-family: "rubik";
    src: url("fonts/Rubik-Regular.ttf") format("truetype");
}

body, html{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'rubik';
}

html{
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center top;
    background-size: 125%;
    scroll-behavior: smooth;
}



header{
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    background-color: rgba(168, 168, 168, 0.7);
    border-radius: 15px;
    backdrop-filter: blur(0.1em);
    position: sticky;
    top: 0;
    z-index: 100;
}

.photo_info{
    width: 100%;
    height: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#photo{
    width: 35%;
    border-radius: 100%;
  
}

#photo img{
    width: 70%;
    border-radius: 100%;
    border-color: black;
    border-style: groove;
    margin: 5%;
}

#info{
    width: 65%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: baseline;
}

#contact{
    width: 30%;
    display: flex;
    flex-flow: column; 
}

#contact a img{
    width: 75%;
    transform: scale(0.8);
    transition: 220ms;
}

#contact a img:hover{
    transform: scale(1);
    transition: 330ms;
}

nav{
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-bottom: 10%;
    background-color: rgba(97, 97, 97, 0.7);
    border-radius: 0px 0px 15px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 100;
}

nav a{
    font-size: small;
    text-decoration: none;
    color: white;
    transition: 220ms;
    text-transform: uppercase;
}


nav a:hover{
    transform: scale(1.2);
    transition: 330ms;
}


.cvbuild{
    
    margin: 2%;

}

.zone{
    backdrop-filter: blur(25px);
    margin-top: 1%;
    margin-bottom: 3.14%;
    padding: 5%;
    padding-top: 2%;
    background-color: rgba(228, 228, 228, 0.6);
    border-radius: 15px;
    z-index: 1;
}

.zone ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: unset;
}
.zone ul{
    margin: 0;
    padding: 0;

}

.orga_liste{
    display: flex;
    flex-flow: row;
    width: 100%;
    border-top-width: 1%;
    border-top-color: black;
    border-top-style: dotted;
}

.img_liste{
    display: flex;
    width: 20%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-right: 5%;

}
.img_liste img{
    max-width: 100%;
    background-color: white;
    border-radius: 15px;
}

.texte_liste{
    width: 80%;
}

h4{
    font-size: small;
}

#prog_lang{
    display: flex;
    align-items: center;
    
    flex-flow: row wrap;
}

#prog_lang img{
    width: 10%;
    margin-right: 2.5%;
    transition: 330ms;
}

#prog_lang img:hover{
    transform: rotate(360deg) scale(1.2);
    transition: 220ms;
}

h1{
    text-transform: uppercase;
}

