* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --color-main: #274c77;
    --color-button: #6096ba;
    --color-button-selected: #a3cef1;
    --color-background: #8b8c89;
    --color-second: #e7ecef;
    --color-text1: #ffffff;
    --color-text2: #000000;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    background-color: var(--color-background);
}

h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

h2, h3 {
    text-align: center;
    text-transform: uppercase;
}

a {
    color: var(--color-text1);
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
}


#header {
    width: 100%;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(167,207,254);
    background: linear-gradient(114deg, rgba(167,207,254,1) 0%, rgba(99,138,183,1) 7%, rgba(56,94,137,1) 18%, rgba(54,92,135,1) 28%, rgba(50,88,131,1) 65%, rgba(39,76,119,1) 100%); 
    transition: 500ms;
    scroll-behavior: auto;
    position: fixed;
    top: 0;
    overflow: hidden;

    z-index: 100;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#header img{
    height: 10rem;
    width: 10rem;

    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-name: rotation360;
    -webkit-animation-name: rotation360;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    transition: 1s;
    align-items: center;
    

}

#headerImage {
    z-index: 3;
}

.headerTextProg {
    position: fixed;
    animation-duration: 10ms;
    -webkit-animation-duration: 10ms;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.headerTextBackground {
    filter: invert();
}

header #headerImageTexte{
    position: fixed;
    animation-name: rotationAnti360;
    -webkit-animation-name: rotationAnti360;
    animation-duration: 120s;
    -webkit-animation-duration: 120s;
    z-index: 5;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

header #headerImageTexte2{
    animation-name: logoHalf1;
    -webkit-animation-name: logoHalf1;
    z-index: 4;
}

header #headerImageTexte3{
    animation-name: logoHalf2;
    -webkit-animation-name: logoHalf2;
    z-index: 2;
}

header #headerImageTexte4{
    animation-name: logoHalf3;
    -webkit-animation-name: logoHalf3;
    z-index: 4;
}

header #headerImageTexte5{
    animation-name: logoHalf4;
    -webkit-animation-name: logoHalf4;
    z-index: 2;
}

#header.headerShrinked {
    height: 6rem;
    flex-direction: row;
    overflow: hidden;
}

#header.headerShrinked img{
    height: 5rem;
    width: 5rem;
}

.headerBlock {
    display: block;
    width: 100%;
    min-height: 12rem;

    margin-bottom: 1rem;

    background-color: var(--color-background);
}

.textAndNav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding-bottom: 1rem;

    color: var(--color-text1);
    text-align: center;
}

.textAndNav nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 500ms;
}

#header.headerShrinked .textAndNav nav {
    justify-content: flex-end;
}

.button {
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem;
    background-color: var(--color-button);
    transition: 314ms;
    perspective: 1000px;

    width: 15rem;
    align-self: center;
    text-align: center;
    
    cursor: pointer;
}

.buttonMenu {
    width: 6rem;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.301);
}

#header.headerShrinked .buttonMenu {
    width: 7rem;
    margin-right: 1rem;
}

.button:hover {
    background-color: var(--color-button-selected);
    box-shadow: none;
    transition: 100ms;
}

/* .button:active {
    animation-name: flip;
    -webkit-animation-name: flip;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    transition: 100ms; 
} */

.section{
    display: flex;
    flex-direction: column;
    
}

.titleZone {
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    color: white;

    text-shadow: 0.25rem 0.25rem black;
}

.titleZone img {
    width: 25%;
    position: absolute;
    top: 45rem;
    filter: brightness(25);
}

.textZone {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text2);
    background-color: var(--color-second);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.textZone img{
    align-self: center;
}

.textZone p, h2 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.textZone h2 {
    margin-bottom: 2rem;
}

.textZone p{
    margin-bottom: 1rem;
    text-align: justify;
    font-size: large;
}

.textZone ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.textZone li p {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}

.titleZone h2{
    font-size: xxx-large;
    text-align: center;
    text-transform: uppercase;
    /* backdrop-filter: blur(20px); */
    background-image: url(img/title_bg.png);
    background-size: 100% 10rem;
    background-position: center;
    background-repeat: no-repeat;
}

#titleAbout {
    background-image: url(img/alix_fsflip.jpg);
    background-position: 60% 75%;
}

#titleSession {
    background-image: url(img/kilian_boneless.jpg);
    background-position: 60% 100%;
}

#titleInscription{
    background-image: url(img/gwen_treflip.jpg);
    background-position: 20% 100%;
}

.listestyle {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#adresseSkatepark {
    padding: 1rem 0;
}

#adresseSkatepark p{
    text-align: center;
    padding: 0;
    margin: 0;
}

#accueil, #contact {
    display: flex;
    flex-direction: column;
}



@keyframes flip360 {
    0% {
        transform: rotateX(0deg) rotate(0deg);
    }

    100% {
        transform: rotateX(360deg)  rotate(360deg);
    }
}

@keyframes hardFlip {
    0% {
        transform: rotateX(0deg) rotate(0deg);
    }

    100% {
        transform: rotateX(-180deg)  rotate(360deg);
    }
}

@keyframes rotation360 {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

@keyframes rotationAnti360 {
    from {transform: rotate(0deg)}
    to {transform: rotate(-360deg)}
}

@keyframes flip {
    from {
        transform: rotateX(0deg) rotate(0deg) scale(1);
        
    }

    10%{
        transform: rotateX(0deg) rotate(-45deg);

    }

    25% {
        background-color: #000000;
    }

    50% {
        transform: rotateX(340deg) rotate(-340deg) scale(1.5);
    }

    90% {
        transform: scale(1.05);
    }

    to {
        transform: rotateX(360deg) rotate(-360deg) scale(1);
    }
}

.shytext {
    font-size: small;
}

.scrollZone {
    scroll-snap-type: mandatory;
}


@keyframes logoHalf1 {
    0% {
        transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);

    }
    100% {
        transform: rotateX(180deg) rotate(180deg) rotateZ(180deg);
    }
    
}

@keyframes logoHalf2 {
    0% {
        transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);

    }
    100% {
        transform: rotateX(-180deg) rotate(180deg) rotateZ(180deg);
    }
    
}

@keyframes logoHalf3 {
    0% {
        transform: rotateY(0deg) rotate(0deg) rotateZ(0deg);

    }
    100% {
        transform: rotateY(-180deg) rotate(180deg);
    }
    
}

@keyframes logoHalf4 {
    0% {
        transform: rotateY(0deg) rotate(0deg) rotateZ(0deg);

    }
    100% {
        transform: rotateY(180deg) rotate(180deg);
    }
    
}


.usbTeam {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
    background-color: var(--color-second);
}


 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
    background-color: transparent;
    width: 20rem;
    height: 20rem;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 1rem;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-front img{
      width: auto;
      max-height: 100%;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  } 

  a img{
      padding-left: 2rem;
      padding-bottom: 1rem;
  }

  footer {
    width: 100%;
    height: 4rem;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    background-color: var(--color-main);
    color: var(--color-text1);
  }

  footer p{
      font-size: small;
  }

  .horairesVacances {
      background-color: var(--color-main);
      color: white;
      margin: 1rem;

  }
