/* COLOR */

    $color-main: #b31717;
    $color-button: #dd1818;
    $color-button-selected: #e96666;
    $color-background: #8b8c89;
    $color-second: #e7ecef;
    $color-text1: #ffffff;
    $color-text2: #000000;
    $color-popup: #8b8c89cc;

/* Background Image */

    $background-main: url(../img/grip_wallpaper.webp);
    $background-content: url(../img/wood_bg.jpg);
    $background-cards: url(../img/wood_bg_blue.jpg);

/* TECHNICAL VALUES */
/* -- Media Queries -- */

    $mobile-value: '960px';